{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {% for child in form.evaluationSkills.children %}
        <br>
        {{ form_row(child, {'label': child.vars.value.skill}) }}
    {% endfor %}
    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
